* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.MuiCard-root {
    color: blue;
    /* font-style ; */
    height: 457px;
    width: 340px; 
    /* margin-left: 100px; */
}

/* .connectButton {
    justify-content: flex-end;
    display: flex;
} */

img {
    border-width: 4px;
    box-shadow: 2px;
    height: 100%;
    width: 100%;
}

.sideBySide {
    display: flex;
    margin-right: 2%;
}

.sideBySide div {
    margin-right: 2%;
}

.sideBySide button {
    margin-right: 2%;
} 

.nftsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
    /* row-gap: 1cm; */
    /* column-gap: 3.4cm; */
}

/* .nftsContainer img {
    width: 8cm;
} */

.largeImage {
    width: 12cm;
}

.smallImage {
    width: 6cm;
    margin-left: 3cm;
    margin-right: 3cm;
    margin-bottom: 4cm;
}

.mintNFTModal {
    display: flex;
    position: fixed; 
    left: 25%;
    right: 25%;
    top: 10%;
    /* bottom: 25%; */
    height: 16cm;
    width: 14cm;
    box-shadow: 0px 4px 10px 0px rgba(0,0,0,0.6);
    background-color: burlywood;
}



